<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /portfolios/about/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /portfolios/index.html [L]
</IfModule>