nav {
  display: flex;
  justify-content: space-around;
  font-size: 3vmin;
  background: rgba(0, 0, 0);
}

nav .navlink {
  text-decoration: none;
  padding: 1rem;
  color: #fff;
}

nav .navlink:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
